[Desktop Entry]
X-DBUS-StartupType=None
X-KDE-StartupNotify=false
Version=1.0
Terminal=false
Type=Application
Name=Youtube
Name[ca]=Youtube
Name[ca@valencia]=Youtube
Name[cs]=Youtube
Name[es]=Youtube
Name[eu]=Youtube
Name[fr]=Youtube
Name[hi]=यूट्यूब
Name[it]=Youtube
Name[nl]=Youtube
Name[pt]=Youtube
Name[sk]=Youtube
Name[sl]=Youtube
Name[sv]=YouTube
Name[uk]=Youtube
Name[x-test]=xxYoutubexx
Exec=mycroft-gui-app --hideTextInput --skill=youtube-skill.aiix.home
Icon=youtube-skill
Categories=VoiceApp
StartupNotify=false
