[Desktop Entry]
X-DBUS-StartupType=None
X-KDE-StartupNotify=false
Version=1.0
Terminal=false
Type=Application
Name=Youtube
Name[ar]=يوتيوب
Name[az]=Youtube
Name[ca]=Youtube
Name[ca@valencia]=Youtube
Name[cs]=Youtube
Name[de]=Youtube
Name[el]=Youtube
Name[en_GB]=YouTube
Name[es]=Youtube
Name[eu]=Youtube
Name[fi]=Youtube
Name[fr]=Youtube
Name[hi]=यूट्यूब
Name[hu]=Youtube
Name[it]=Youtube
Name[ka]=Youtube
Name[ko]=Youtube
Name[nl]=Youtube
Name[pl]=Youtube
Name[pt]=Youtube
Name[ro]=Youtube
Name[ru]=YouTube
Name[sk]=Youtube
Name[sl]=Youtube
Name[sv]=YouTube
Name[tr]=YouTube
Name[uk]=Youtube
Name[vi]=YouTube
Name[x-test]=xxYoutubexx
Name[zh_CN]=Youtube
Exec=mycroft-gui-app --hideTextInput --skill=youtube-skill.aiix.home
Icon=youtube-skill
Categories=VoiceApp
StartupNotify=false
